@charset "UTF-8";
.dropdown-menu {
  background-color: #ba0000;
}

@media (min-width: 576px) { /* CSS для экранов размером: 576px – 767px */ }
@media (min-width: 768px) { /* CSS для: 768px – 991px */ }
@media (min-width: 992px) { /* CSS для: 992px – 1119px */ }
@media (min-width: 1200px) {
  a {
    text-decoration: none;
  }
  .ttc {
    background-color: blueviolet;
  }
  .tot.mx-4 {
    margin-left: 19.53125% !important;
    margin-right: 19.53125% !important;
  } /*задаем свое значение для tot mx-4*/
  .cont.ms-4 {
    margin-left: 69.230769% !important;
  } /*кастомное значение для contact center*/
  /*.ppl.px-1{ padding-right: 1.109489%!important;padding-left: 1.109489%!important; }*/
  /* CSS для экранов больше 1200px */
}
.cpr {
  margin-left: 2.564103% !important;
}